@import url("https://fonts.googleapis.com/css2? family= Lora:ital@1 & family= Mukta & family= Noto+Sans & display=swap");
header .miFondo {
  background-color: #fafafa;
  border-top: #004A7C solid 5px;
}
header .navbar-collapse {
  font-size: 30px;
}
header .nav-item {
  margin-left: 20px;
}
header .nav-link {
  color: #004A7C;
}
header .miLink:hover {
  background-color: #005691;
}
header .miLogo {
  width: 150px;
}

* {
  margin: 0;
  border: 0;
}

body {
  font-family: "Mukta", sans-serif;
}

main .nosotros {
  background-color: #E8F1F5;
  padding: 100px;
}
main .nosotros .titulo {
  font-size: 45px;
  text-align: center;
  color: #004A7C;
  font-weight: bold;
}
main .nosotros .descripcionIndex {
  text-align: center;
  color: #004A7C;
  font-weight: bolder;
}
main .nosotros .miBoton {
  color: #fafafa;
  text-decoration: none;
}
main .nosotros .boton {
  background-color: #005691;
}
main .nosotros .botonNosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .nosotros .bno:hover {
  background-color: #fafafa;
  color: #005691;
}
main .estudio {
  background-color: #495464;
  padding: 100px;
}
main .estudio .estudioDos {
  color: #fafafa;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}
main .estudio .indexEstudio {
  color: #fafafa;
  font-weight: lighter;
  text-align: center;
  font-size: 30px;
}
main .estudio .bej {
  background-color: #E8E8E8;
}
main .estudio .bej:hover {
  background-color: #BBBFCA;
}
main .estudio .buej {
  text-decoration: none;
  color: #495464;
}
main .estudio .buej:hover {
  color: black;
}
main .estudio .estudioTres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .tele {
  background-color: #004A7C;
  padding: 100px;
}
main .tele .teleDos {
  text-align: center;
  color: #fafafa;
  font-weight: bolder;
  font-size: 65px;
}
main .tele .indexTele {
  text-align: center;
  color: #fafafa;
  font-weight: bolder;
  font-size: 25px;
}
main .tele .teleTres {
  text-decoration: none;
  color: #005691;
}
main .tele .btele {
  background-color: #E8F1F5;
}
main .tele .btele:hover {
  background-color: #004A7C;
  color: #BBBFCA;
}
main .tele .teleTres:hover {
  color: #fafafa;
}
main .tele .botonTele {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*sector informativo*/
main {
  /*sector planes informativos*/
}
main .obra {
  background-color: #004A7C;
  padding: 100px;
}
main .obra .tituloObra {
  text-align: center;
  color: #fafafa;
  font-weight: bolder;
  font-size: 45px;
}
main .obra .parrafoObra {
  text-align: center;
  color: #fafafa;
  font-weight: bolder;
  font-size: 30px;
}
main .obra .btassist {
  background-color: #BBBFCA;
}
main .obra .assist {
  color: #495464;
  text-decoration: none;
}
main .obra .btassist:hover {
  background-color: #495464;
}
main .obra .assist:hover {
  color: #fafafa;
}
main .obra .botonObra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .planes {
  background-color: #E8F1F5;
  padding: 100px;
}
main .planes .titulosPlanes {
  color: #004A7C;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 50px;
}
main .planes .planUno {
  padding-bottom: 30px;
}
main .planes .tituloUno {
  font-weight: bolder;
}
main .planes .paUno {
  font-size: 25px;
}
main .planes .planDos {
  padding-bottom: 30px;
}
main .planes .tituloDos {
  font-weight: bolder;
}
main .planes .paDos {
  font-size: 25px;
}
main .planes .planTres {
  padding-bottom: 30px;
}
main .planes .tituloTres {
  font-weight: bolder;
}
main .planes .paTres {
  font-size: 25px;
}
main .planes .planCuatro {
  padding-bottom: 30px;
}
main .planes .tituloCuatro {
  font-weight: bolder;
}
main .planes .paCuatro {
  font-size: 25px;
}
main .carruselDos {
  color: black;
  font-weight: bold;
}

main .seccionEstudio {
  background-color: #495464;
  padding: 100px;
}
main .seccionEstudio .tituloEstudio {
  color: #fafafa;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
}
main .seccionEstudio .parrafoEstudio {
  color: #fafafa;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}
main .serv {
  background-color: #BBBFCA;
  padding: 100px;
}
main .serv .servTitulo {
  font-weight: bold;
  color: #004A7C;
  font-size: 45px;
  padding-bottom: 35px;
}
main .serv .lista {
  color: #495464;
  font-weight: bolder;
  font-size: 25px;
}
main .mej {
  background-color: #E8E8E8;
  padding: 100px;
}
main .mej .con {
  color: #004A7C;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
}
main .mej .botonJuri {
  background-color: #495464;
}
main .mej .coJuri {
  color: #fafafa;
  text-decoration: none;
}
main .mej .botonJuri:hover {
  background-color: #BBBFCA;
}
main .mej .coJuri:hover {
  color: #495464;
}
main .mej .moverBoton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .parraNos {
  background-color: #004A7C;
  padding: 100px;
}
main .parraNos .titNos {
  color: #fafafa;
  font-weight: 45px;
  font-size: 45px;
  text-align: center;
  padding-bottom: 10px;
}
main .parraNos .paNos {
  color: #fafafa;
  font-size: 30px;
  text-align: center;
}

main .formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}
main .formulario .form-container {
  background-color: #007BFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .formulario .form-container input,
main .formulario .form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main .formulario .form-container button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=estilo.css.map */
