header {

    .miFondo {
        background-color: #fafafa;
        border-top:$color-principal solid 5px;
    }

    .navbar-collapse {
        font-size: 30px;
    }

    .nav-item {
        margin-left: 20px;
    }

    .nav-link {
        color:$color-principal;
    }

    .miLink:hover {
        background-color: #005691;
    }

    .miLogo {
        width: 150px;
    }



}