main {
    .parraNos {
        background-color: $color-principal;
        padding: 100px;


        .titNos {
            @include parrafos;
            font-weight: 45px;
            font-size: 45px;
            padding-bottom: 10px;

        }


        .paNos {
            color: #fafafa;
            font-size: 30px;
            text-align: center;

        }
    }


}