main {
    .parraNos {
        background-color: #004A7C;
        padding: 100px;


        .titNos {
            color:#fafafa;
            font-weight: 45px;
            font-size: 45px;
            text-align: center;
            padding-bottom: 10px;
        
        }
        
        
        .paNos {
            color: #fafafa;
            font-size: 30px;
            text-align: center;
        
        }
    }
    
    
}